.layout {
    height: calc(100vh - 64px);
    width: 100vw;
}

@media (min-width: 1010px) {
    .layout {
        width: calc(100vw - 6rem);
        margin-left: calc(6rem);
    }
}

.layout {
    background: #e5e5e5;
}

.layout-header {
    height: 48px;
    background: white;
    border: 1px solid #eceff1;
    border-top: none;
}

.layout-header.stick {
    box-shadow: 0 0 10px rgb(193 176 176 / 50%);
}

.circle {
    position: fixed;
    height: 50px;
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    background: aquamarine;
}