.product-item-content .tab-view {
    height: 100%;
}

.product-item-content .tab-view .product-create .content .ant-form .form-control {
    border: 1px solid gray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.product-item-content .tab-view .product-create .content .ant-form .form-control .ant-form-item {
    margin: 0;
}

.product-item-content .tab-view .product-create .content .ant-form .form-control label span {
    float: right;
}

.product-item-content .tab-view .product-create,
.product-item-content .tab-view .product-editable,
.product-item-content .tab-view .product-preview {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 0.5rem;
}

.product-item-content .tab-view .product-create {
    background: white;
}

.product-item-content .tab-view .product-editable {
    background: moccasin;
}