.tool-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.control-detail {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease-in-out;
}

.control-detail.selected {
    height: 17.5rem;
}

.detail-box {
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    background: white;
}

.detail-box.selected {
    padding: 0.5rem;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}