.side-bar-menu {
    position: fixed;
    height: 100vh;
    max-height: calc(100vh - 64px);
    background: white;
    top: 64px;
    left: 0;
    z-index: 2;
    overflow: auto;
    transition: transform 0.5s ease-in-out;
    padding-top: 38px;
    box-shadow: 6px 0 5px rgba(50, 50, 93, 0.25);
    width: 18rem;
    transform: translateX(-18rem);
}

@media (min-width: 1010px) {
    .side-bar-menu {
        transform: translateX(-12rem);
    }
}

.side-bar-menu:hover {
    transform: translateY(0);
}

.side-bar-menu .side-bar-menu-item {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.side-bar-menu .side-bar-menu-item:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.side-bar-menu .side-bar-menu-item.stick {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.side-bar-menu .side-bar-menu-item.stick:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.side-bar-menu.stick {
    transform: translateX(0);
}

.side-bar-menu .side-bar-menu-item {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px 0 10px 0;
}

.side-bar-menu .side-bar-menu-item .side-bar-menu-item-data {
    text-align: left;
    padding-left: 2.5rem;
}

.side-bar-menu .side-bar-menu-item .side-bar-menu-item-icon {
    text-align: center;
}