    @media (max-width: 768px) {
        .side-bar {
            height: 100vh;
            position: absolute !important;
            left: 0;
            z-index: 100000;
            width: 0 !important;
            min-width: 0 !important;
            margin-top: 48px;
            visibility: hidden;
            transition: visibility 0.4s !important;
            transition: width 0.5s !important;
        }
        .side-bar.show {
            width: 200px !important;
            visibility: visible;
        }
    }
    
    @media (min-width: 769px) {
        .side-bar {
            height: 100vh;
        }
    }