.customer-support {
    height: 48px;
    border: 1px solid gray;
}

.customer-support .ant-row {
    height: 100%;
    padding: 1rem;
}

.customer-support .customer-support-left {
    height: 100%;
}

.customer-support .customer-support-left div {
    display: flex;
    align-items: center;
    height: 100%;
}

.customer-support .customer-support-right div {
    display: flex;
    align-items: center;
    height: 100%;
}

.customer-support .customer-support-right {
    height: 100%;
}

.customer-support .customer-support-left div .set {
    visibility: hidden;
}

@media (max-width: 992px) {
    .customer-support .customer-support-left div .set {
        visibility: visible;
    }
}

.ant-popover-content {
    width: fit-content !important;
}