.float-label {
    position: relative;
    margin-bottom: 12px;
}

.label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 12px;
    transition: 0.2s ease all;
}

.label-float {
    top: 6px;
    font-size: 10px;
}

.float-label .ant-input {
    padding: 24px 12px 4px 11px !important;
}

.float-label .ant-select .ant-select-selector {
    padding: 24px 10px 4px 11px !important;
}

.float-label .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 24px 10px 4px 11px !important;
    height: 48px !important;
}

.float-label .ant-select-single .ant-select-selector .ant-select-selection-search {
    top: 16px !important;
}