.tab-view {
    height: 87%;
}

.tab-view .form-detail .content .ant-form .form-control {
    border: 1px solid gray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.tab-view .form-detail .content .ant-form .form-control .ant-form-item {
    margin: 0;
}

.tab-view .form-detail,
.tab-view .form-editable,
.tab-view .form-preview {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 0.5rem;
}

.tab-view .form-detail {
    background: white;
}

.tab-view .form-editable {
    background: moccasin;
}